<!-- <app-shopping-cart></app-shopping-cart>
<app-shopping-cart [value] = "0"></app-shopping-cart>
<app-shopping-cart [value] = "1"></app-shopping-cart>
<app-shopping-cart [value] = "100"></app-shopping-cart> -->

<app-shopping-search></app-shopping-search>


<!-- {{costomerList[0]}}
<ul>
  <li *ngFor ="let costomer of costomerList; let i=index">{{costomer}}
    <button (click)="removeCustomer(i)">remove</button>
  </li>
</ul>
 
<button (click)="pushCustomer()">push</button>
<button (click)="unshiftCustomer()">unshift</button> -->

<!-- <app-action-bar [inputDisplay]="false"></app-action-bar>
<app-action-bar [inputDisplay]="true"></app-action-bar> -->

<!-- <div *ngIf="activate else elseTemplate"> 
  <app-action-bar></app-action-bar>
</div>
<ng-template #elseTemplate>
  <div>
    activate now
  </div>
</ng-template>
<button type="button" (click)="activate=true">activate</button>  -->

<!-- <app-action-bar [counter]="appCounter" 
(counterChanged)="appCounter = $event">
</app-action-bar>
<app-sqaureflex [divWidth]="appCounter" >
</app-sqaureflex> -->

<!-- <app-sqaureflex [divHeight] = "squaureHeight"
[divWidth]="squaureWidth"></app-sqaureflex>
<div>
  width:
  <button type="button" (click)="squaureWidth=50">50px</button>
  <button type="button" (click)="squaureWidth=100">100px</button>
  <button type="button" (click)="squaureWidth=200">200px</button>
</div> -->

<!-- <app-max-min-meter 
[minLabel]="appMinLabel" 
[maxLabel]="appMaxLabel"

(maxChange) = "doAppMaxChange($event)" 
(minChange) = "doAppMinChange($event)"
>

</app-max-min-meter> -->
<!-- <app-action-bar [step] = "5" ></app-action-bar>
<app-action-bar [step] = "10" ></app-action-bar>
<button type="button"(click)="testClick">testEventBinding</button>
  -->
 <!-- คำนวณบุฟเฟ่ต์มา4จ่าย3
  <span>มา4คนจ่าย3</span>
<div>
  <input #priceBuffetInput type="text" placeholder="ราคาบุฟเฟ่">
  <button (click)="calBuffet(priceBuffetInput.value)" >คำนวณ</button>
</div>
<span>
  คนละ {{value}} บาท
</span> -->

<!-- โปรเจ็คนนินจา
hello world Angular! this is my title {{ title }} 
<br />
My village ninja's name is {{ ninjaName }}//แสดงค่าชื่อนินจา
<button type = "button" (click)="ninjaConsole()">Console ninja</button> //ปุ่มแสดงค่าชื่อนินจาในคอนโซล
<br>
<button type = "button" (click)="changnNinjaName('sakura')"> //ปุ่มเปลี่ยนชื่อนินจา
  Change Ninja Name to Sakura
</button>
<button type = "button" (click)="changnNinjaName('sasuke')">//ปุ่มเปลี่ยนชื่อนินจา
  Change Ninja Name to Sasuke
</button>
<button type = "button" (click)="changnNinjaName('naruto')">//ปุ่มเปลี่ยนชื่อนินจา
  Change Ninja Name to Naruto
</button> -->